target/
inputs/*
!inputs/benchmarks/
!inputs/benchmarks/**
!inputs/examples/
!inputs/examples/**
outputs/
wickscache/
tests/fixtures/**/data.h5
tests/fixtures/**/data_*.h5
.cargo/
data.h5
tools/wick/__pycache__/
src/nocc/terms/*
build/generated/*
Cargo.lock
.codex
uprof
