target/
inputs/*
!inputs/benchmarks/
!inputs/benchmarks/**
outputs/
wickscache/
tests/fixtures/**/data.h5
.cargo/
scaling*
data.h5
tools/wick/__pycache__/
src/nocc/terms/*
build/generated/*
Cargo.lock
.codex

