target/
/target
inputs/*
!inputs/benchmarks/
!inputs/benchmarks/**
!inputs/examples/
!inputs/examples/**
outputs/
/outputs
wickscache/
.cargo/
tools/wick/__pycache__/
src/nocc/terms/*
build/generated/*
.codex
uprof
